In [1]:
import numpy as np
data0=[2,4,6.5,8]
arr0=np.array(data0)

In [2]:
import pandas as pd

In [3]:
s = pd.Series(data=[100,'a',{'dic1':5}],
     index=pd.Index(['id1',20,'third'],name='my_idx'),
      dtype='object',
        name='my_name')

In [4]:
s2=pd.Series(["1","2","3","4"])

In [5]:
s2.index.values

array([0, 1, 2, 3], dtype=int64)

In [6]:
type(s2.values[0])

str

In [7]:
s2.shape

(4,)

In [8]:
s2.size

4

In [9]:
#任务3：创建dataframe类型数据，并获取其索引，值及表大小
d = {
"余华": pd.Series(['活着', '许三观', '兄弟'],),
"two": pd.Series([1.0, 2.0, 3.0,],),
"three":pd.Series([1.0, 2.0, 3.0,],)
}
df = pd.DataFrame(d)

In [10]:
#任务3：创建dataframe类型数据，并获取其索引，值及表大小
d = {
"one": pd.Series([1.0, 2.0, 3.0], index=["a", "b", "c"]),
"two": pd.Series([1.0, 2.0, 3.0, 4.0], index=["a", "b", "c", "d"]),
}
df = pd.DataFrame(d)

In [11]:
d1= {
    "作者":pd.Series(['余华','残雪','莫言']),
    "作品":pd.Series(['活着','不知道','红高粱']),
    "价格":pd.Series(['22','21','20'])
}
df2=pd.DataFrame(d1)

In [12]:
df2.index.values

array([0, 1, 2], dtype=int64)

In [13]:
df2.shape

(3, 3)

In [14]:
df2.size

9

In [15]:
df2['作品']

0     活着
1    不知道
2    红高粱
Name: 作品, dtype: object

In [16]:
data0=[2,4,6.5,8]
arr0=np.array(data0)

In [6]:
#按列查询数据
import pandas as pd
贵州茅台原始数据 = pd.read_csv(R'data/600519.csv')

In [7]:
#按照行索引
贵州茅台原始数据.loc[0]

day           2001-08-27
STOCK_CODE       6005191
open               34.51
close              35.55
maximum            37.78
minimum            32.85
volume            406318
TURNOVER      1410347008
Name: 0, dtype: object

In [8]:
贵州茅台 = 贵州茅台原始数据.set_index('day')

In [9]:
#loc索引器
#单个元素
贵州茅台.loc['2001-8-27']

KeyError: '2001-8-27'

In [1]:
贵州茅台.loc['2001-8-27',['open','close']]

NameError: name '贵州茅台' is not defined

In [13]:
贵州茅台.loc['2001-08-27':'2001-10-08']

            STOCK_CODE   open  close  maximum  minimum  volume    TURNOVER
day
2001-08-27     6005191  34.51  35.55    37.78    32.85  406318  1410347008
2001-08-28     6005191  34.99  36.86    37.00    34.61  129647   463463008
2001-08-29     6005191  36.98  36.38    37.00    36.10   53252   194689000
2001-08-30     6005191  36.28  37.10    37.51    36.00   48013   177558000
2001-08-31     6005191  37.15  37.01    37.62    36.80   23231    86231000
2001-09-03     6005191  37.20  36.99    37.57    36.85   22112    82129000
2001-09-04     6005191  37.01  37.46    38.08    36.88   37006   139204000
2001-09-05     6005191  37.61  37.44    37.92    37.21   26066    97796000
2001-09-06     6005191  37.35  36.70    37.47    36.51   28997   107078000
2001-09-07     6005191  36.50  35.68    36.95    35.65   31552   113868000
2001-09-10     6005191  35.40  36.70    36.85    35.01   18878    68406000
2001-09-11     6005191  36.80  36.29    36.95    36.20   11390    41579000
2001-09-12     6005191  35.33  35.98    36.20    35.30   25045    89421000
2001-09-13     6005191  36.01  35.89    36.30    35.70   10986    39512000
2001-09-14     6005191  36.01  36.30    36.50    35.80    7672    27740000
2001-09-17     6005191  36.08  35.84    36.29    35.50    8983    32183000
2001-09-18     6005191  35.88  36.25    36.55    35.85   10773    39006000
2001-09-19     6005191  36.30  36.92    36.92    36.06    8650    31597000
2001-09-20     6005191  36.90  36.61    37.05    36.50   11173    41189000
2001-09-21     6005191  36.28  36.06    36.60    36.00    7879    28638000
2001-09-24     6005191  36.06  36.05    36.39    36.00    4068    14703000
2001-09-25     6005191  36.28  36.23    36.54    36.05    3488    12639000
2001-09-26     6005191  36.11  36.08    36.48    36.00    4956    17892000
2001-09-27     6005191  36.08  36.70    36.98    36.00    8778    32085000
2001-09-28     6005191  36.90  37.09    37.20    36.50   17088    63169000
2001-10-08     6005191  37.00  36.58    37.18    36.25    6552    24091000

In [16]:
条件1 = 贵州茅台['open'] < 35
条件2 = 贵州茅台['close'] < 35
布尔列表 = 条件1 & 条件2
贵州茅台.loc[布尔列表]

            STOCK_CODE   open  close  maximum  minimum  volume   TURNOVER
day
2001-10-17     6005191  34.79  34.20    34.81    33.90   12507   42766000
2001-10-18     6005191  34.20  34.04    34.66    33.91    4983   16999000
2001-10-19     6005191  34.00  33.50    34.15    33.01   15687   52422000
2001-10-22     6005191  33.30  32.79    33.70    32.70    9760   32268000
2001-11-08     6005191  33.35  33.70    33.89    32.98    7402   24682000
...                ...    ...    ...      ...      ...     ...        ...
2004-09-21     6005191  32.09  32.30    32.98    32.09    8374   27222818
2004-09-22     6005191  32.03  32.16    32.49    32.03    4348   13965168
2004-09-23     6005191  32.11  33.42    33.52    32.11   17667   58219692
2004-09-24     6005191  33.60  34.49    35.89    33.60   30981  108295826
2004-09-27     6005191  34.95  34.93    35.98    34.50    6067   21339456

[498 rows x 7 columns]

In [17]:
#使用函数作为索引
def condition(pd):
    条件1 = pd['open'] < 35
    条件2 = pd['close'] < 35
    布尔列表 = 条件1 & 条件2
    return 布尔列表

In [18]:
贵州茅台.loc(condition)

ValueError: No axis named <function condition at 0x0000024C74D8A9D0> for object type DataFrame

In [20]:
贵州茅台.query('open<35 and close <35')[['open','close']]

             open  close
day
2001-10-17  34.79  34.20
2001-10-18  34.20  34.04
2001-10-19  34.00  33.50
2001-10-22  33.30  32.79
2001-11-08  33.35  33.70
...           ...    ...
2004-09-21  32.09  32.30
2004-09-22  32.03  32.16
2004-09-23  32.11  33.42
2004-09-24  33.60  34.49
2004-09-27  34.95  34.93

[498 rows x 2 columns]

In [22]:
贵州茅台.sample(10)

            STOCK_CODE    open   close  maximum  minimum  volume    TURNOVER
day
2012-03-08     6005191  193.21  194.44   196.11   192.98   23575   458505184
2012-02-01     6005191  186.20  186.15   188.52   184.88   24824   464159680
2016-05-04     6005191  260.00  256.21   262.39   255.99   28636   743425168
2011-02-23     6005191  181.11  182.76   183.47   181.11   19422   353816784
2010-10-29     6005191  164.74  163.15   165.07   160.50   65466  1064852160
2010-11-08     6005191  163.99  163.49   164.00   161.25   56894   922801040
2015-01-14     6005191  185.00  183.18   186.50   180.88   52403   965036192
2002-11-15     6005191   25.80   25.82    26.04    25.65    2349     6065973
2005-07-21     6005191   52.11   51.98    52.56    51.30    2537    13127981
2013-01-30     6005191  177.05  180.12   182.49   176.68   71377  1285436672

In [24]:
贵州茅台.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4094 entries, 2001-08-27 to 2018-11-02
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   STOCK_CODE  4094 non-null   int64
 1   open        4094 non-null   float64
 2   close       4094 non-null   float64
 3   maximum     4094 non-null   float64
 4   minimum     4094 non-null   float64
 5   volume      4094 non-null   int64
 6   TURNOVER    4094 non-null   int64
dtypes: float64(4), int64(3)
memory usage: 384.9+ KB

In [25]:
贵州茅台['open'].describe

<bound method NDFrame.describe of day
2001-08-27     34.51
2001-08-28     34.99
2001-08-29     36.98
2001-08-30     36.28
2001-08-31     37.15
               ...
2018-10-29    549.09
2018-10-30    510.00
2018-10-31    527.00
2018-11-01    555.00
2018-11-02    585.00
Name: open, Length: 4094, dtype: float64>

In [27]:
rsesult = 贵州茅台['open'].unique()

In [28]:
rsesult2 = 贵州茅台['open'].unique()

In [29]:
rsesult3 = 贵州茅台['open'].unique()